@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%; /* neutral-white */
    --foreground: 0 0% 29%; /* neutral-charcoal */

    --card: 0 0% 100%;
    --card-foreground: 0 0% 29%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 29%;

    --primary: 188 100% 14.3%; /* brand-teal */
    --primary-foreground: 0 0% 100%; /* neutral-white */

    --secondary: 60 11.1% 95.7%; /* neutral-pale */
    --secondary-foreground: 0 0% 29%; /* neutral-charcoal */

    --muted: 60 11.1% 95.7%; /* neutral-pale */
    --muted-foreground: 0 0% 54.1%; /* neutral-mid */

    --accent: 30 83.9% 58.4%; /* brand-amber */
    --accent-foreground: 0 0% 100%; /* neutral-white */

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 83.1%; /* neutral-light */
    --input: 0 0% 83.1%; /* neutral-light */
    --ring: 30 83.9% 58.4%; /* brand-amber */

    --radius: 8px;
  }

  .dark {
    --background: 192 100% 9.4%; /* brand-teal-dark */
    --foreground: 0 0% 98%;

    --card: 192 100% 9.4%;
    --card-foreground: 0 0% 98%;

    --popover: 192 100% 9.4%;
    --popover-foreground: 0 0% 98%;

    --primary: 188 100% 20%; /* brand-teal-light */
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 5%; /* neutral-black */
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 5%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 30 83.9% 58.4%; /* brand-amber */
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 188 100% 14.3%; /* brand-teal */
    --input: 188 100% 14.3%;
    --ring: 43 74% 66%; /* brand-amber-lightish */

    --radius: 8px;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1, h2, h3, h4 {
    @apply text-brand-teal;
  }
  h1 { @apply font-serif text-4xl font-bold leading-snug; }
  h2 { @apply font-serif text-3xl font-bold leading-snug; }
  h3 { @apply font-serif text-xl font-semibold; }
  h4 { @apply font-sans text-lg font-semibold; }
}
